@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
}

header {
  padding-top: 40px;
}

.navigation li {
  margin: 0px 20px;
}

.navigation li a {
  text-decoration: none;
}

.box-greetings {
  background-color: blueviolet;
  color: #fff;
  padding: 10px 20px;
}
