@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
}

header {
  padding-top: 0px;
}

main {
  margin: 50px 0px;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-4 {
  font-size: 14px;
}

.accent-red {
  color: #9f2525;
}

.ads {
  height: 25px;
  background: #000;
  color: #fff;
  line-height: 25px;
  letter-spacing: 1px;
}

.banner-home {
  width: 100%;
  height: 400px;
}

.navigation li {
  margin: 0px 20px;
}

.navigation li a {
  text-decoration: none;
}

.navigation a.active {
  border-bottom: #000 1px solid;
}

.box-greetings {
  background-color: blueviolet;
  color: #fff;
  padding: 10px 20px;
}

.btn {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  border-radius: 5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -ms-border-radius: 5;
  -o-border-radius: 5;
  font-size: 0.8rem;
}

.btn-primary {
  background: #000;
  color: #fff;
}

.btn-secondary {
  background: rgb(222, 222, 222);
  color: #000;
}

.btn-secondary:hover {
  background: #ccc;
  color: #000;
}

.btn-primary:hover {
  background: #666;
}

.btn-outline {
  background: none;
  border: #000 1px solid;
}

.btn-outline:hover {
  background: #000;
  color: #fff;
  border: #000 1px solid;
}

.btn-text {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  color: #666;
}

.btn-text:hover {
  text-decoration: none;
  color: #ccc;
}

.btn-delete {
  border: none;
  background: none;
}

.logo {
  width: 140px;
  height: auto;
}

.qtyBox {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  line-height: 50px;
  font-size: 0.8rem;
}

.productImage {
  width: 100%;
  height: auto;
  position: relative;
}

.labels {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px 10px;
  z-index: 999;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin: 16px 0px 0px 10px;
}

.labelNew {
  background: #08af3b;
  color: #fff;
}

.labelOff {
  background: #bf132f;
  color: #fff;
}

.labelOutStock {
  background: #000;
  color: #fff;
}

.opacity-05 {
  opacity: 0.4;
}

.itemImageDetail {
  width: 100%;
  height: auto;
}

.product-btn {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.product-btn:hover {
  opacity: 0.3;
}

.product-btn-overlay {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.overlay-top:hover > .product-btn-overlay {
  opacity: 1;
}

.product-name {
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-price {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0px;
  font-weight: 300;
  text-transform: uppercase;
}

.priceOffer {
  color: #9f2525;
  text-decoration: line-through;
}

.cart-table {
  font-weight: 500;
}

.cart-table tr.product {
  height: 200px;
}

.cart-table tr.options {
  height: 50px;
}

.cart-border-bottom {
  border-bottom: #000 1px solid;
}

.resume-cart {
  background-color: #f2f0ee;
  padding: 20px;
  margin-top: 30px;
}

.form-label-order {
  width: 500px;
  height: 48px;
  border: none;
  background-color: #f2f0ee;
  text-indent: 20px;
}

.skeleton-loader {
  width: 100%;
}
